<div class="container">

  <div class="jumbotron">

    <div class="text-center">
      <h1>Mix Master</h1>
    </div>
    <br>
    <div class="text-center">
      <%= link_to "Start Creating Your Mix", artists_path %>
    </div>
  </div>
  
</div>
