<div class="container">
  <div class="jumbotron">
    <h1>All Playlists</h1>

    <h4><%= link_to "New Playlist", new_playlist_path %></h4>
    <h4><%= link_to "Home", root_path %></h4>
  </div>

</div>
